  <div id="homepage">
    <div class="cloud">
    <h1>
      <b>Studiuj</b>
      <span class="thin-font">z nami </span><br/>
      <b class="green">Informatykę</b>
      <span class="thin-font">na </span>
      <br/>
      <b>UEK</b>
     </h1>
     <div class="hom-text content-medium-font">
        Jesteśmy jedyną uczelnią w Krakowie oferującą bezpośrednie połączenie Informatyki z zagadnieniami z dziedzin tj. zarządzanie, ekonomia, finanse czy rachunkowość. Pozwala to na łatwe przystosowanie się do ciągle zmieniających się wymogów rynku pracy.
    </div>
     </div>
  </div>
