.flexblock {
    display: flex;
}

.flexblock div,
.flexblock span,
.flexblock ul,
.flexblock li,
.flexblock h1,
.flexblock a,
.flexblock p,
.flexblock app-specialization,
.flexblock app-degree {
    margin: auto;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

ul li {
    list-style-type: none;
}

div .no-margin {
    margin: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0!important;
}

.m-b-0 {
    margin-bottom: 0!important;
}

.m-t-0 {
    margin-top: 0!important;
}

.hom-scroll{
    height: 10vh;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
}


.full-size{
    height: 100%!important;
    width: 100%!important;
}

.no-border {
    border: 0!important;
}

.full-width {
    width: 100%!important;
}

.full-height {
    height: 100%!important;
}

.f-w-300 {
  font-weight: 300;
}

.header-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
  font-weight: 300;
}

.header-medium-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  font-weight: 300;
}

.content-medium-font {
  font-size: 2.6vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.content-small-font {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#return-to-top {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  background: rgb(136, 176, 75);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #e0dfdf;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(136, 176, 75, 0.8);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
@media(max-width: 670px) {
  .content-medium-font {
    font-size: 2vh;
  }
}
